build
*.tgz
*.zip
*.qc
*.pyc

node_modules
functionaltests/source/*_java/target

quark/output
output/
QUARK_VERSION-dirty.txt

venv
virtualenv
virtualenv3
django110env
build-tools
.hypothesis

# KDE
.directory

# IntelliJ
.idea
*.iml

# Keys and Credentials
*.key
*.pem
*.p12
*.pkcs12
*.jks
*.jceks

.cache
npm-debug.log
dist/
functionaltests/webservers/db.sqlite3