build
*.tgz
*.zip
*.qc
*.pyc

node_modules
tests/source/*_java/target

quark/output

venv
virtualenv
build-tools

# KDE
.directory

# IntelliJ
.idea
*.iml

# Keys and Credentials
*.key
*.pem
*.p12
*.pkcs12
*.jks
*.jceks